<style>

.home-navbar{
    height:100%
}
.home-navbar .nav-link{
    text-align:center;
    color:#272727
}
.home-navbar .nav-link:focus-visible{
    outline:none
}
.home-navbar .nav-link:not(.with-items):after{
    content:none!important
}
.bg-am-light{
    background-color:#fbfbfb;
    box-shadow:inset 0 8px 8px #2c3c2f0d
}
li.nav-item a{
    font-family:BryantPro;
    font-weight:500;
    font-size:16px
}
.tag-menu{
    font-size:12px;
    border-radius:20px;
    font-weight:700
}
.dropdown-menu{
    min-width:323px;
    width:auto;
    font-size:14px;
    box-shadow:0 4px 8px #2c3c2f1a;
    border-radius:15px;
    direction:rtl
}
.dropdown-menu .content-dropdown{
    max-height:600px
}
.dropdown-menu .content-dropdown .principal{
    width:323px;
    overflow-y:auto
}
.dropdown-menu .content-dropdown .sub-menu{
    position:relative;
    overflow-y:auto;
    border-top:none;
    border-left:1px solid #d4d4d4;
    border-bottom:none;
    border-right:none;
    box-shadow:none!important;
    border-radius:0!important
}
.dropdown-menu .content-dropdown .sub-menu-width{
    width:323px
}
.dropdown-menu .content-dropdown .sub-menu-flex{
    display:flex
}
.dropdown-menu .dropdown-item{
    padding-left:1.5rem!important;
    direction:ltr
}
.dropdown-menu .dropdown-item:hover{
    color:inherit!important;
    background-color:#e9f7f3;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px
}
.dropdown-menu .dropdown-item:focus{
    color:inherit!important;
    background-color:#d6f1e3;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px
}
.image-banner-menu{
    margin:9px 16px 16px
}
.image-banner-menu img{
    border-radius:16px
}
::-webkit-scrollbar{
    width:6px
}
::-webkit-scrollbar-track{
    background:#d4d4d4;
    border-radius:8px
}
::-webkit-scrollbar-thumb{
    background:#989898;
    border-radius:8px
}
::-webkit-scrollbar-thumb:hover{
    background:#7b7b7b
}
</style>