.page-with-filter.page-products .page-main .columns .products-grid ol.products li.product-item .product-item-info .product-item-details .price-box {
    margin: 0 35px;
}
.product-item .price-box {
    flex-direction: row-reverse;
    justify-content: space-between;
}
.newGreen {
    color: green;
    font-weight: 700;
    margin-top: 5px;
}

.shippingTime {
    background: grey;
    color: white;
    padding: 5px;
}
.rowShipping {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
}