.collection-banner-img-wrapper img {
    display: none !important;
}
.collection-banner-wrapper {
    justify-content: flex-start !important;
    align-items: end !important;
}
.main-banner-button {
    display: none !important;
}
.collection-banner-content h1 {
    font-size: 50px !important;
    color: black !important;
    text-align: left !important;
}
.collection-banner-overlay {
    background: unset !important;
}
.collection-carousel {
    margin: 5px 0 0 0 !important;
}
.swiper-slide.slide-category {
    background-color: unset !important;
    min-height: unset !important;
    width: unset !important;
    font-weight: 500 !important;
    padding: 5px !important;
}
.swiper-slide.slide-category:hover {
    transform: scale(1) !important;
    color: black !important;
}
.category-carousel {
    padding-left: 0 !important;
}
.collection-banner-content h1 {
    padding: 0 0 30px 0 !important;
}
.shopify-section.carousel-category-container {
    border-bottom: 1px solid black;
    width: 92% !important;
    margin: 0 auto !important;

}
.collection-page-container .shopify-section:nth-child(2){
    display: none;
}
.cont-carrusel {
    padding-top: 0 !important;
}

.collection-page-container .shopify-section:nth-child(1) {
    width: 92% !important;
    margin: 0 auto !important;
}

@media (max-width: 468px) {
    .swiper-wrapper {
        height: 60px;
    }
    .swiper-wrapper .swiper-slide {
        font-size: 14px !important;  
    }
    .collection-carousel .swiper-wrapper .swiper-slide {
        width: unset !important;
        max-width: 300px !important;
    }
    .collection-banner-wrapper {
        padding-left: 25px !important;
    }
    .collection-banner-content h1 {
        font-size: 35px !important;
        padding: 10px 0 !important;
    }
    .responsive-filter-button.banner-filter-button {
        display: none !important;
    }
    .shopify-section.carousel-category-container {
        margin-left: 18px !important;
    }
    .collection-banner-wrapper {
        margin-top: 0 !important;
    }
}