.collection-banner-img-wrapper img {
    display: none !important;
}
.collection-banner-wrapper {
    height: 7vh !important;
    justify-content: flex-start !important;
}
.main-banner-button {
    display: none !important;
}
.collection-banner-content h1 {
    font-size: 50px !important;
    color: black !important;
}
.collection-banner-overlay {
    background: unset !important;
}
.collection-carousel {
    margin: 5px 0 !important;
}
.swiper-slide.slide-category {
    background-color: unset !important;
    min-height: unset !important;
    width: unset !important;
    font-weight: 600 !important;
    padding: 5px !important;
}

.swiper-slide.slide-category:hover {
    transform: scale(1) !important;
    color: black !important;
}

.category-carousel {
    padding-left: 0 !important;
}

.collection-banner-content h1 {
    padding: 20px 0 0 20px !important;
}
.shopify-section.carousel-category-container {
    border-bottom: 1px solid black;
    margin-left: 25px !important;
}

@media (max-width: 468px) {
    .swiper-wrapper {
        height: 60px;
    }

    .swiper-wrapper .swiper-slide {
        font-size: 14px !important;  
    }

    .collection-carousel .swiper-wrapper .swiper-slide {
        width: unset !important;
    }
    .collection-banner-wrapper {
        height: 10vh !important;
        justify-content: center !important;
    }
    .collection-banner-content h1 {
        font-size: 24px !important;
        padding: 10px 0 !important;
    }

    .responsive-filter-button.banner-filter-button {
        display: none !important;
    }

    .shopify-section.carousel-category-container {
        margin-left: 18px !important;
    }
}